* {
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding-top: 1%;
    background-color: rgb(135, 211, 255);
    text-align: center;
}

header>h2 {
    padding: 1%;
}

nav {
    font-size: larger;
    background-color: rgb(147, 231, 252);
    padding: 0.4%;
    text-align: left;
}

nav>a {
    font-size: larger;
}
a {
    display: inline-block;
    margin-left: 4%;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
    transform: scale(1.2);
    color: rgb(65, 65, 65);
}
div {
    padding: 2%;
    width: 100%;
    height: 100%;
    display: block;
}

div>div {
    transition: transform 0.5s ease, background-color 1s ease;
    background-color: antiquewhite;
    margin: 2%;
    width: 40%;
    border-radius: 20px;
    flex-direction: column;
}
div>div:hover{
    transform: scale(1.1);
    background-color: rgb(255, 223, 180);
    font-size: large;
}
}
h3 {
    margin-bottom: 3%;
    margin-top: 3%;
}

p {
    margin-left: 5%;
}

div>h2 {
    margin-bottom: 3%;
    margin-top: 3%;
}
